:root {
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #101828;
  background: #f2f4f7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

body {
  min-height: 100vh;
}
